@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-black.otf");
@import url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-bold.otf");
@import url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-light.otf");
@import url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-medium.otf");
@import url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-regular.otf");
@import url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-thin.otf");
@font-face {
  font-family: CeraRound;
  src: url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-bold.otf");
}
@font-face {
  font-family: CeraRound;
  src: url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-black.otf");
}
@font-face {
  font-family: CeraRound;
  src: url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-light.otf");
}
@font-face {
  font-family: CeraRound;
  src: url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-medium.otf");
}
@font-face {
  font-family: CeraRound;
  src: url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-regular.otf");
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  width: 100%;
  height: 100px;
  background: #BB2339;
  position: fixed;
  z-index: 1;
}
nav .offcanvas-header {
  background-color: #BB2339;
}
nav .offcanvas-body {
  display: inline-block;
  background-color: #BB2339;
}
nav .btn-close {
  color: white;
  fill: white;
}
nav .offcanvas-body .navbar-nav {
  display: flex;
  gap: 40px;
}
nav .offcanvas-body .navbar-nav .nav-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: white;
}
@media (max-width: 1000px) {
  nav .offcanvas-body .navbar-nav .navbar-nav .nav-link {
    color: white;
  }
}
nav .offcanvas-body .navbar-nav .log-in {
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  transition: 0.5s;
  text-transform: uppercase;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #BB2339;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  transition: 0.5s;
  text-transform: uppercase;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-top: -10px;
  width: 140px;
  height: 50px;
  font-family: "Open Sans";
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 175%;
}
nav .offcanvas-body .navbar-nav .log-in:hover {
  border: 2px solid #BB2339;
  background-color: white;
  color: #BB2339;
}

.navbar .navbar-toggler {
  color: white;
  background-color: transparent;
}
.navbar .navbar-toggler {
  color: transparent;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  transition: var(--bs-navbar-toggler-transition);
}
.navbar .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../../assets/images/header-footer/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
}

@font-face {
  font-family: CareRound;
  src: url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-bold.otf");
}
@font-face {
  font-family: CareRound;
  src: url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-black.otf");
}
@font-face {
  font-family: CareRound;
  src: url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-light.otf");
}
@font-face {
  font-family: CareRound;
  src: url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-medium.otf");
}
@font-face {
  font-family: CareRound;
  src: url("../../assets/fonts/Cera-Round-Pro/Fontspring-DEMO-ceraroundpro-regular.otf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

footer {
  width: 100%;
  margin-top: 150px;
  position: relative;
  top: 400px;
  background: #BB2339;
}
footer .footer {
  position: relative;
}
footer .footer .subscribe {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 252px;
  gap: 64px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: -30%;
  bottom: 0%;
  background: #BB2339;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
}
footer .footer .subscribe span {
  width: 127px;
  height: 30px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}
footer .footer .subscribe h2 {
  width: 902px;
  height: 62px;
  margin-top: -50px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
}
footer .footer .subscribe p {
  width: 250px;
  height: 28px;
  margin-top: -40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
}
footer .footer .subscribe input {
  width: 635px;
  height: 52px;
  padding: 12px 504px 12px 18px;
  border: 1px solid rgba(245, 239, 219, 0.5);
  border-radius: 100px;
  background-color: transparent;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #AAAAAA;
}
footer .footer .subscribe .subscribe_mail {
  display: flex;
  gap: 40px;
}
footer .footer .subscribe a {
  width: 150px;
  height: 52px;
  padding: 10px 35px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
footer .footer .subscribe a:hover {
  border: 2px solid #BB2339;
  background-color: white;
  color: #BB2339;
}
footer .footer .footer_menu {
  padding-top: 417px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 123px;
}
footer .footer .footer_menu ul {
  gap: 252px;
  text-align: center;
}
footer .footer .footer_menu ul h6 {
  margin-bottom: 24px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}
footer .footer .footer_menu ul address {
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
footer .footer .footer_menu ul a {
  text-decoration: none;
  row-gap: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
footer .footer .footer_menu img {
  width: 336px;
  height: 117px;
}
footer .footer .footer_menu p {
  margin-top: 32px;
  width: 438px;
  height: 52px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
footer .footer .footer_menu span {
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}
footer .footer .footer_menu time {
  display: block;
  width: 168px;
  height: 52px;
  margin-top: 24px;
  margin-bottom: 12px;
  margin-left: 22px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
footer .footer .footer_social {
  padding-top: 47px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
}
footer .footer .footer_title {
  margin-top: 72px;
  margin-left: 20px;
  padding-bottom: 40px;
  display: block;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

@media (max-width: 900px) {
  .subscribe {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 700px;
    height: 200px;
  }
  .subscribe h2 {
    width: 555px;
    height: 130px;
    margin-top: -50px;
    font-family: "CeraRound";
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #fff;
    flex: none;
    flex-grow: 0;
  }
  .subscribe .subscribe_mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }
  .subscribe .subscribe_mail a {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .subscribe {
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .subscribe h2 {
    width: 355px;
    height: 530px;
    margin-top: -50px;
    font-family: "CeraRound";
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #fff;
    flex: none;
    flex-grow: 0;
  }
}
.cotainer-2 {
  max-width: 100%;
}

#header {
  padding-top: 122px;
  width: 100%;
  background-color: #BB2339;
}
#header .header {
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
  gap: 98px;
}
#header .header .header-left span {
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}
#header .header .header-left h1 {
  margin-top: 26px;
  width: 555px;
  height: 234px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #FFFFFF;
}
#header .header .header-left p {
  width: 453px;
  height: 84px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  opacity: 0.7;
}
#header .header .header-left a {
  display: block;
  margin-top: 50px;
  width: 170px;
  height: 60px;
  padding: 15px 25px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}
#header .header .header-left a:hover {
  border: 2px solid #BB2339;
  background-color: white;
  color: #BB2339;
}
#header .header .header-scroll {
  display: inline-block;
  margin-bottom: 54px;
  margin-left: 700px;
}

#carousel {
  display: grid;
  justify-content: center;
  margin-left: -80px;
  background-color: #F8F8F8;
}

.carousel {
  padding-top: 100px;
  padding-bottom: 100px;
}
.carousel h2 {
  display: inline-block;
  width: 500px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #BB2339;
}
.carousel .card {
  width: 310px;
  height: 369px;
}
.carousel .card .card-body h5 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #242424;
}
.carousel .card .card-body img {
  display: block;
  padding-top: 20px;
  margin: auto;
}
.carousel .card .card-body span {
  padding-top: 20px;
  display: block;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #BB2339;
}
.carousel .bite-delight {
  display: inline-block;
  position: absolute;
  top: auto;
  bottom: -50px;
  left: auto;
  right: 150px;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 10px;
  bottom: auto;
  border-radius: 10px 10px;
  border: 2px solid gray;
  z-index: 1;
  width: 3%;
  padding: 5px;
  color: gray;
  text-align: center;
  opacity: 1;
  transition: opacity 0.15s ease;
}
.carousel-control-next .carousel-control-next-icon, .carousel-control-next .carousel-control-prev-icon, .carousel-control-prev .carousel-control-next-icon, .carousel-control-prev .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-next {
  color: gray;
  position: absolute;
  top: 100px;
  background-image: url(../../assets/images/index/arrow_forward_ios_FILL0_wght400_GRAD0_opsz48.svg);
  color: gray;
  bottom: auto;
  left: 95%;
  right: auto;
}

.carousel-control-prev {
  color: gray;
  position: absolute;
  top: 100px;
  background-image: url(../../assets/images/index/arrow_back_ios_FILL0_wght400_GRAD0_opsz48.svg);
  color: gray;
  bottom: auto;
  left: auto;
  right: 6%;
}

#ap-tab {
  margin-top: 120px;
  margin-left: 40px;
  display: grid;
  justify-content: center;
}

.ap-tab h2 {
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #BB2339;
}
.ap-tab .ap-tab-list {
  margin-top: 60px;
  margin-left: -100px;
  display: flex;
  align-self: start;
}
.ap-tab .ap-tab-list .ap-tab-item {
  display: inline-block;
  margin-left: -10px;
}
.ap-tab .ap-tab-list .ap-tab-item button {
  display: inline-block;
  width: 160px;
  height: 40px;
  border: 2px solid #BB2339;
  border-radius: 50px;
  background-color: transparent;
}
.ap-tab .ap-tab-list .ap-tab-item button:hover {
  color: white;
  border-width: 2px solid white;
  background-color: #BB2339;
}
.ap-tab .ap-tab-list .ap-tab-item button:hover a {
  color: white;
}
.ap-tab .ap-tab-list .ap-tab-item button .ap-tab-link {
  margin-right: auto;
  padding: 10px 15px;
  border-radius: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #242424;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ap-tab-container {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-top: 60px;
}
.ap-tab-container .ap-tab-content .card {
  display: flex;
  width: 310px;
  height: 366px;
  margin-bottom: 30px;
  border-radius: 14px;
}
.ap-tab-container .ap-tab-content .card .card-body h5 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #242424;
}
.ap-tab-container .ap-tab-content .card .card-body img {
  display: block;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}
.ap-tab-container .ap-tab-content .card .card-body span {
  padding-top: 20px;
  display: block;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #BB2339;
}

#customers {
  margin-top: 120px;
  background-color: #F4F4F4;
}
#customers .customers span {
  display: inline-block;
  padding-top: 100px;
  padding-left: 650px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  flex: none;
  order: 0;
  flex-grow: 0;
}
#customers .customers img {
  display: inline-block;
  padding-top: 10px;
  padding-left: 690px;
}
#customers .customers h2 {
  padding-top: 10px;
  padding-left: 500px;
  padding-bottom: 60px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  flex: none;
  order: 2;
}
#customers .customers .owl-theme {
  display: flex;
  justify-content: center;
  gap: 35px;
}
#customers .customers .owl-theme .item .card {
  width: 410px;
  height: 210px;
  margin-bottom: 170px;
}
#customers .customers .owl-theme .item .card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 30px;
}
#customers .customers .owl-theme .item .card h5 {
  padding-top: 30px;
  padding-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #333333;
}
#customers .customers .owl-theme .item .card p {
  padding-top: 10px;
  width: 340px;
  height: 66px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  opacity: 0.7;
}

.update {
  margin-top: 120px;
}
.update span {
  margin-left: 650px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.update .spoon {
  margin-top: 5px;
  padding-left: 660px;
  display: inline-block;
}
.update h2 {
  margin-top: 5px;
  margin-left: 520px;
  margin-bottom: 60px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #BB2339;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.update .update-row {
  display: flex;
}
.update .update-row .card {
  width: 410px;
  height: 584px;
  overflow: hidden;
}
.update .update-row .card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 30px;
}
.update .update-row .card .card-body h5 {
  width: 332px;
  height: 64px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
.update .update-row .card .card-body p {
  width: 361px;
  height: 72px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #AAAAAA;
}
.update .update-row .card .link {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 205px;
}
.update .update-row .card .link a {
  display: inline-block;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #BB2339;
}
.update .update-row .card .link time {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #242424;
  opacity: 0.5;
}
.update .view {
  display: block;
  width: 150px;
  height: 50px;
  padding: 10px 30px;
  margin-left: 600px;
  margin-top: 50px;
  border: 2px solid #BB2339;
  border-radius: 50px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #242424;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.update .view:hover {
  color: white;
  border: 2px solid white;
  background-color: #BB2339;
}

#main-video {
  width: 100%;
  margin-top: 128px;
}
#main-video .main-video video {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#gallery {
  margin-top: 120px;
  width: 100%;
  background-color: #F4F4F4;
}
#gallery .gallery {
  padding-top: 120px;
  padding-bottom: 130px;
  gap: 60px;
}
#gallery .gallery .gallery_left span {
  display: inline-block;
  padding-top: 91px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  flex: none;
  order: 0;
  flex-grow: 0;
}
#gallery .gallery .gallery_left img {
  width: 9px;
  height: 40px;
  display: inline-block;
  padding-top: 50px;
  margin-left: -100px;
}
#gallery .gallery .gallery_left img:hover {
  transform: translate3d(10px);
}
#gallery .gallery .gallery_left h4 {
  width: 322px;
  height: 62px;
  padding-top: 8px;
  font-family: "CeraRound";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  flex: none;
  order: 2;
  flex-grow: 0;
}
#gallery .gallery .gallery_left p {
  padding-top: 24px;
  width: 491px;
  height: 56px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  flex: none;
  order: 1;
  flex-grow: 0;
}
#gallery .gallery .gallery_left a {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border-radius: 50px;
  border: 2px solid #BB2339;
  font-family: "CeraRound";
  font-style: normal;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 15px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #242424;
  flex: none;
  order: 0;
  flex-grow: 0;
}
#gallery .gallery .gallery_left a:hover {
  color: white;
  border: 2px solid white;
  background-color: #BB2339;
}
#gallery .gallery .gallery_right {
  display: inline-block;
  display: flex;
  gap: 30px;
}